* {
    margin: 0;
    padding: 0;
}

.body_all {
    background-color: #f3f3f3;
}

.header_m{
    background: rgb(55, 105, 212);
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.header_left{
    float: left;
    height: 45px;
    width: 40px;
    margin-left: calc(50% - 600px);
    text-align: center;
    margin-top: 2px;
    padding-top: 10px;
}
.header-brand{
    color: white;
    height: 45px;
    width: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.header_search:hover{
    background: rgb(62, 119, 242);
    cursor: pointer;
}

.header_search{
    float: left;
    height: 30px;
    width: 70px;
    padding-top: 3px;
    text-align: center;
    margin-left: 525px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}

.header_right{
    float: right;
    height: 45px;
    width: auto;
    text-align: center;
    margin-top: 2px;
    margin-right: calc(50% - 600px);
}

.fa-search{
    color: white;
    
}

.fa-pencil{
    color: white;
}

.fa-sign-out{
    color: white;
}

.fa-user{
    color: white;
}

.img_icon{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: 5px;
}

.img_icon:hover{
    cursor: pointer;
}

.header_pen{
    height: 25px;
    width: 25px;
    float: right;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.header_pen:hover{
    background: rgb(62, 119, 242);
    cursor: pointer;
}

.header_logo{
    height: 45px;
    width: 40px;
    float: left;
    margin-left: 10px;
}

.header-text{
    color: white;
    height: 45px;
    width: auto;
    text-align: right;
    padding-top: 10px;
    float: right;
}

.header_menu{
    color: white;
    height: 45px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.header_menu_burger{
    position: fixed;
    top: -100px;
    right: 17%;
    background-color: rgba(33, 134, 234, 0.696);
    height: auto;
    width: auto;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    z-index: 2;
}

.mobile_header_menu_burger{
    position: fixed;
    left: -1000px;
    top: 0px;
    background-color: rgba(33, 134, 234, 0.696);
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    transition: all 0.3s ease 0s;
    z-index: 7;
    display: none;
}

.mobile_header_menu{
    color: white;
    height: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    float: left;
}

.mobile_x{
    display: none;
    float: left;
}

.mobile_img_icon{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: calc(50% - 10px);
}

.top_mobile_header_menu_burger{
    width: 100%;
    height: 35px;
    background-color: rgba(31, 115, 200, 0.696);
    float: left;
    padding-right: 5px;
}

.top_mobile_x{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 10px;
}

.top_mobile_x::before,
.top_mobile_x::after{
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}

.top_mobile_x::before{
    transform: rotate(45deg);
}

.top_mobile_x::after{
    transform: rotate(-45deg);
}



.body_down{
    margin-left: calc(50% - 600px);
    margin-top: 60px;
    width: 1200px;
    height: auto;
}

.body_search_text{
    width: 1175px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border-top: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    border-right: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
}

.articles{
    margin-top: 30px;
    height: auto;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    float: left;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-style: solid;
}

.article{
    width: auto;
    height: auto;
    float: left;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.article_name{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: black;
    width: 693px;
    border-right: 4px;
    border-right: 1px solid rgb(206, 206, 206);
    text-decoration: none;
}

.article_author{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
    color: black;
    width: 190px;
    border-right: 1px solid rgb(206, 206, 206);
}

.article_view{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
    color: black;
    width: 60px;
    border-right: 1px solid rgb(206, 206, 206);
}

.article_comment{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
    color: black;
    width: 90px;
    border-right: 1px solid rgb(206, 206, 206);
}

.article_date{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
    color: black;
    width: 130px;
}

.link-style{
    color: black;
    text-decoration: none;
}

.user_table{
    margin-top: 30px;
    height: auto;
    background-color: white;
    width: 1185px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    float: left;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-style: solid;
}

.user_table_icon{
    float: left;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    width: auto;
}

.user_table_icon_img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.user_table_name{
    float: left;
    height: auto;
    margin-top: 25px;
    font-size: 20px;
    margin-left: 10px;
    color: black;
    width: auto;
}

.user_table_date{
    float: right;
    height: auto;
    margin-top: 10px;
    font-size: 15px;
    margin-right: 10px;
    color: rgb(158, 158, 158);
    width: auto;
}

.buttons{
    height: auto;
    margin-top: 10px;
    background-color: rgb(55, 105, 212);
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
}

.buttons:hover{
    background: rgb(0, 179, 255);
    cursor: pointer;
}

.one_article_name{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    color: black;
    width: 100%;
    text-align: center;

}

.one_article_tag{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: black;
    width: 100%;
}

.one_article_view{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: black;
    width: auto;
}

.one_article_text{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: black;
    width: 100%;
}

.one_article_date{
    float: right;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: black;
    width: auto;
}

.one_article_com_no{
    float: left;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 25px;
    color: black;
    width: 100%;
    text-align: center;
}

.one_article_com_new{
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 100%;
}

.one_article_com_add{
    width: calc(100% - 30px);
    height: 35px;
    border-radius: 5px;
    border-top: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    border-right: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
    padding-left: 10px;
}

@media screen and (max-width: 654px) {
    .mobile_header_menu_burger{
        display: block;
        opacity: 1;
    } 

    .header_m{
        height: 40px;
        padding-left: 5px;
    }
    
    .header_left{
        height: 35px;
        width: 70px;
        margin-left: 0px;
        float: right;
        margin-right: calc(50% - 35px);
        margin-top: 0px;
    }

    .header-brand{
        height: 30px;
        width: 70px;
    }
    
    .header_search{
        display: none;
    }
    
    .header_right{
        display: none;
    }

    .mobile_x{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-top: 5px;
    }

    .mobile_x::before,
    .mobile_x::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .mobile_x::before{
        top: 0;
    }

    .mobile_x::after{
        bottom: 0;
    }

    .mobile_x span{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 5px;

    }

    .body_down{
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .articles{
        margin-top: 0px;
        height: auto;
        width: 100%;
        border-radius: 0px;
        border-width: 0px;
        border-top: 1px solid rgb(206, 206, 206);
        border-bottom: 1px solid rgb(206, 206, 206);

    }
    
    .article{
        width: 100%;
        height: 100%;
    }
    
    .article_name{
        height: 100%;
        font-size: 15px;
        color: black;
        width: 31%;
    }
    
    .article_author{
        height: 100%;
        color: black;
        width: 15%;
    }
    
    .article_view{
        height: 100%;
        color: black;
        width: 11%;
    }
    
    .article_comment{
        height: 100%;
        width: 17%;
    }
    
    .article_date{
        height: 100%;
        width: 20%;
    }

    .user_table{
        width: 100%;
        border-radius: 0px;
        float: left;
        font-size: 20px;
    }
    
    .user_table_icon_img{
        height: 70px;
        width: 70px;
        border-radius: 35px;
    }
    
    .user_table_name{
        font-size: 20px;
    }
    
    .user_table_date{
        font-size: 20px;
    }
    
    .buttons{
        padding: 10px;
        font-size: 20px;
    }

    .one_article_com_add{
        width: calc(100% - 50px);
        height: 50px;
    }
    
    .one_article_tag{
        font-size: 18px;
    }
    
    .one_article_view{
        font-size: 18px;
    }
    
    .one_article_text{
        font-size: 25px;
    }
    
    .one_article_date{
        font-size: 18px;
    }
}