{% extends 'base.html' %}

{% block title %}All Posts{% endblock %} 

{% block content %}
{% comment %} <table class="table mt-5 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>views</th>
            <th>Comments</th>
            <th>Date of creation</th>
        </tr>
    </thead>
    <tbody>
        {% for post in Posts %}
        <tr>
            <td><a href={% url 'blog:single_post' post.slug%}>{{ post.title }}</a></td>
            <td>{{post.user}}</td>
            <td>{{post.views_count}}</td>
            <td>{{post.comments_count}}</td>
            <td>{{post.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}
<div class="articles">
    <div class="article">
        <div class="article_name">
            Title
        </div>
        <div class="article_author">
                Author
        </div>
        <div class="article_view">
                Views
        </div>
        <div class="article_comment">
                Comments
        </div>
        <div class="article_date">
                Date of creation
        </div>
    </div>
    {% for post in Posts %}
    <div class="article">
        <div class="article_name">
            <a href={% url 'blog:single_post' post.slug%} class="link-style">{{ post.title }}</a>
        </div>
        <div class="article_author">
            {{post.user}}
        </div>
        <div class="article_view">
            {{post.views_count}}
            <i class="fa fa-eye">

            </i>
        </div>
        <div class="article_comment">
            {{post.views_count}}
        </div>
        <div class="article_date">
            {{post.created_at}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
