{% extends 'base.html' %}

{% block title %}{{current_post.title}}{% endblock %} 

{% block content %}
<div class="one_article_name">
    {{current_post.title}}
</div>
<div class="one_article_tag">
    Tags:  
    {% for tag in tags %}
        {{tag.name}} 
    {% endfor %}
</div>
<div class="one_article_text">
    {{current_post.text}}
</div>
<div class="one_article_view">
    Views: {{current_post.views_count}}
</div>
<div class="one_article_date">
    Created at: {{current_post.created_at}}
</div>

{% comment %} {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %} {% endcomment %}

{% comment %} {% if new_comment %}
    <div class="one_article_com_no">Your comment has been added.</div>
{% else %}
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add comment</button>        
    </form>
{% endif %} {% endcomment %}
<div class="one_article_com_new">
    <form action="." method="get">
        <input type="text" placeholder="Add comment" class="one_article_com_add">
        <button type="submit" class="buttons">
            <i class="fa fa-paper-plane">

            </i>
        </button>        
    </form>
</div>

{% for comments in PostComments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <div class="one_article_com_no">There are no comments yet.</div>
{% endfor %}

{% endblock %}

