{% extends 'base.html' %}

{% block title %}All Posts{% endblock %} 

{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Student Qiantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for posts in post %}
        <tr>
            <td><a href={% url "blog:single_post" posts.id %}>{{ posts.title }}</a>
            </td>
            <td>{{posts.title}}</td>
            <td>{{posts.views_count}}</td>
            <td>{{posts.created_at}}</td>
            <td><button class="btn btn-primary">Buy</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
